<!-- Page Content -->
<div class="container post-container">

  <!-- Portfolio Item Heading -->
  <h1 class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= @post.title %>
    <small>Item secundary</small>
    </h1>
    </div>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <%= image_tag @post.image, class:  'img-responsive' %>
    </div>

    <div class="col-md-4">
      <h3>Project Description</h3>
      <p><%= @post.body %></p>
    </div>
  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->

  <div class="row">

    <div class="col-lg-12">
      <h3 class="page-header">Related Projects</h3>
    </div>


    <%= @post.each do |post|%>
        <div class="col-sm-3 col-sm-6">
          <%= link_to post_path(post) do %>
          <%= image_tag post.image, class: 'img-responsive portafolio-item' %>
              <% end %>
        </div>
<% end %>
  </div>
</div>
